@media only screen and (max-width: 900px){

  body{
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.content {
    width: 100%;
    margin-left: 0px;
    background-color: whitesmoke;
}
.project1 {
    width: 90%;
    height: 200px;
    background-color: blue;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4px;
}
.project1:hover {
    background-color: black;
}
h1 {
    margin-left: 35%;
    color: green;
}
  
}
