body{
    margin: 0px;
    font-family: "poppins", sans-serif;
    align-items: center;
    justify-content: center;
}
.content {
    width: 70%;
    margin-left: 30PX;
    background-color: whitesmoke;
}
.project1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4px;
}
.project1:hover {
    background-color: black;
}
h1 {
    margin-left: 35%;
    color: green;
}
